{{#if has_datasets?}}{{> item_as_function}}
{{{ rendered_children.datatable }}}
{{else}}{{#comment '//'}}{{{ rendered_children.description }}}
{{#if has_tags?}}Tags: {{{ join rendered_children.tags ' '}}}{{/if}}
{{/comment}}

private static ExtentTest parentTest;
private static Actionwords actionwords;

@Test(testName="{{{ rendered_children.name }}}",groups={{#curly}}"all","{{{relative_package_group}}}"{{/curly}}{{#if
        rendered_children.uid}},{{else}},enabled = false,{{/if}}
dataProvider = "{{{ camelize_lower
        rendered_children.name }}}",dataProviderClass = DataSet.class)
public void {{{ camelize_lower rendered_children.name }}}{{#if rendered_children.uid}}Uid{{{ normalize
        rendered_children.uid}}}{{/if}}(TestHelper testHelper)  throws Exception {{#curly}}

    parentTest = setParentTest(parentTest,"{{{ relative_package }}}");
    ExtentTest child = parentTest.createNode(Scenario.class, "{{{rendered_children.name}}}" + " " + testHelper.getDataSetNumber());
    test.set(child);
    actionwords = new Actionwords(driver.get(),test.get());
    {{> body}}
{{/curly}}{{/if}}