package {{{ context.package }}};

import com.aventstack.extentreports.ExtentTest;
import com.testcloud.seleniumcourse.pages.login.LoginPage;
import org.openqa.selenium.WebDriver;
import com.testcloud.seleniumcourse.config.TestManager;

public class Actionwords extends TestManager {{#curly}}{{#indent}}
    protected WebDriver driver;
    protected InheritableThreadLocal<LoginPage> loginPage = new InheritableThreadLocal<>();
        protected ExtentTest test;

        public Actionwords(WebDriver driver, ExtentTest test) {{#curly}}
                this.driver = driver;
                this.test = test;
           {{/curly}}
{{#each rendered_children.actionwords}}
{{{this}}}
{{/each}}
{{/indent}}
{{/curly}}