package {{{ context.package }}}{{{ relative_package }}};

import com.aventstack.extentreports.ExtentTest;
import com.aventstack.extentreports.gherkin.model.Scenario;
import com.testcloud.seleniumcourse.tests.Actionwords;
import com.testcloud.seleniumcourse.dataprovider.datasets.DataSet;
import com.testcloud.seleniumcourse.dataprovider.details.TestHelper;
import org.testng.annotations.Test;


{{#if needs_to_import_actionwords? }}import com.testcloud.seleniumcourse.config.TestManager;
{{/if}}
public class {{{ clear_extension context.filename }}} extends TestManager{{#curly}}
    {{#indent}}
        {{> scenario}}
    {{/indent}}
{{/curly}}